.my-card {
  width: 200px;
  position: relative;
  float: left;
  margin: 2%;
}
body {
  background: url("https://st2.depositphotos.com/8398422/11423/i/950/depositphotos_114233804-stock-photo-fox-isolated-on-white-background.jpg");
}

.home {
  color: white;
}
.rButton {
  position: relative;
  float: right;
}