<body>
  <div class="profile-info-general">
    <div class="profile-picture">
      <img class="avatar" src="{{avatarSRC}}" alt="">
    </div>

    <div class="profile-info">
      <div class="profile-name">
        <span class="Name">{{nickname}}</span>
        <hr align="center" width="auto" size="1" color="gainsboro" />
        <br><br>
        <div id="leftBlock">
          <span id="details">
            Возраст:
            <br><br>
            Почта:
            <br><br>
            Увлечения:
          </span>
        </div>
        <div id="rightBlock">
          <span>
            {{age}} лет
            <br><br>
            {{email}}
            <br><br>
            {{hobbies}}
          </span>
        </div>

      </div>
    </div>
  </div>

  <div class="event-card">

  </div>
</body>
